<%
var weekdays = new Array(7);
weekdays[0] = "Monday";
weekdays[1] = "Tuesday";
weekdays[2] = "Wednesday";
weekdays[3] = "Thursday";
weekdays[4] = "Friday";
weekdays[5] = "Saturday";
weekdays[6] = "Sunday";

%>
<tr>
    <td><%= weekdays[day] %></td>
    <td><%= model.servHrs[day].servHrsStart %></td>
    <td><%= model.servHrs[day].servHrsBreakStart %></td>
    <td><%= model.servHrs[day].servHrsBreakEnd %></td>
    <td><%= model.servHrs[day].servHrsEnd %></td>
</tr>
