<div class="span6">
    <fieldset>
        <legend>Employment Details</legend>

        <div class="control-group">
            <label class="control-label" for="servInitiated">Employment Date</label>

            <div class="controls">
                <input type="text" id="servInitiated" name="model[servInitiated]"
                       placeholder="2013-01-30"
                       value="<% if(isEditing){ %><%= model.servInitiated %><% }else {  %><%= new Date().toISOString().slice(0,10) %><% } %>"
                       class="datepicker"
                        >
            </div>

            <label class="control-label" for="servTerminated">Termination Date</label>

            <div class="controls">
                <input type="text" id="servTerminated" name="model[servTerminated]"
                       placeholder="2013-01-30"
                       value="<% if(isEditing && model.servTerminated){ %><%= model.servTerminated %><% } %>"
                       class="datepicker"
                        >
            </div>

            <label class="control-label" for="servColor">Calendar Color</label>

            <div class="controls">
                <input class="span10" type="text" id="servColor" name="model[servColor]" placeholder="#002a80"
                       value="<% if(isEditing){ %><%= model.servColor %><% } %>">
            </div>
        </div>

    </fieldset>
</div>

<div class="span12">
    <fieldset>
        <legend>Public Profile</legend>
        <textarea
                class="span12"
                name="model[servBio]"
                id="provBio"
                placeholder="Public Staff Profile"
                rows="5"
                ><% if(isEditing){ %><%= model.servBio %><% } %></textarea>
    </fieldset>
</div>


<div class="span12">
    <fieldset>
        <legend>Appointment Availabilities</legend>

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Usage Notes</h4>
            If all times are the same for any given day, it will be assumed the staff member will not be available on
            that day.
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Day</th>
                <th>Shift Start</th>
                <th>Break Start</th>
                <th>Break End</th>
                <th>Shift End</th>
            </tr>
            </thead>
            <tbody>

            <%
            var i =0;
            for (var day = 0; day < 7; day++){ %>
            <% include serviceHoursInputTableRow %>
            <%} %>

            </tbody>
        </table>
    </fieldset>
</div>


<div class="clearfix"></div>
