<li>
    <a href="/contacts/<%= model.cont_id %>"><%= model.cont_surname %>, <%= model.cont_forename %></a>
    <div class="actions">
        <a href="/contacts/<%= model.cont_id %>/edit">Edit</a>
        <%- deleteButton('/contacts',model.cont_id) -%>
    </div>
</li>