<tr>
    <td>
        <a href="/contacts/<%= model.contId %>"><%= model.contForename %></a>
    </td>
    <td>
        <a href="/contacts/<%= model.contId %>"><%= model.contSurname %></a>
    </td>
    <td>
        <% if (model.contCompany != '') {%>
        <a href="/contacts/<%= model.contId %>"><%= model.contCompany %></a>
        <%} %>
    </td>
    <td>
        <div class="btn-group">
            <a class="btn btn-primary" href="/contacts/<%= model.contId %>">
                <i class="icon-user icon-white"></i> View
            </a>
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">

                <li>
                    <a href="/contacts/<%= model.contId %>/edit">
                        <i class="icon-pencil"></i> Edit
                    </a>
                </li>
            </ul>
        </div>
    </td>
</tr>
